/* --- modal --- */
/* desktop default */
.modal-view {
  z-index: 1;
  width: 100%;
  height: 100%;
  top: 0%;
  left: 0%;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.9);
  /* align the modal in the center of the screen with flexbox */
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: flex-end;
  flex-direction: column;
  font-family: "Sora", sans-serif;
}

/* this is the card that shows up when you click on a movie to get details */
.modal-card {
  width: 80%;
  height: 80%;
  background-color: #181818;
  color: white;
  border-radius: 6px;
  margin: 5%;
  padding: 2%;
  position: relative;
  /*gray shadow on the bottom of the card with backgorund image to make space/background for text in the bottom */
  box-shadow: 0 -15rem 15rem 1.5rem #181818 inset;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  align-content: flex-end;
}

.modal-card-item {
  display: flex;
  align-items: baseline;
  flex-flow: row wrap;
}

.modal-card-item p {
  opacity: 0.7;
}

/* the x button on the top right corner of the modal card */
.modal-card .fa-times {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 28px;
  margin: 3%;
}

/* place the play buttom on the top in the middle of the movie details card */
.modal-card .fa-play-circle {
  position: absolute;
  top: 0;
  left: 50%;
  margin-top: 15%;
  margin-left: -50px; /* becasue we need to substract te element/2 width from the margin left */
  font-size: 100px;
  opacity: 0.85;
}

/* the iframe that shows when the user plays the trailer inside the modal */
/*place in on top of the movie details card - instead of the play button and make it as wide as the card */
.modal-card-item iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 60%;
}

/* genre badge in modal>card>under movie title 
make it a small white text with nice border */
.genre-name {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  border: white solid 1px;
  border-radius: 0.2rem;
  font-size: 0.5rem;
}

/* space between the start the grade and the votes count */
.modal-card-item h3 {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

/* space between the title and the release date */
.modal-card-item h1 {
  padding-right: 0.5rem;
  flex-basis: 100%;
  text-align: left;
}

/* star icon in movie details */
.fa-star {
  color: #ffc100;
  font-size: 2rem;
  padding-bottom: 1rem; /* to center it we need ton fontsize/2 = paddingbottom */
}

/* mobile modal-card */
@media (max-width: 530px) {
  /* descrese the size of description on the grounds that it took half of the space on card */
  .modal-card-item p {
    font-size: 0.9rem;
  }
  /* change the video embedd to smaller on phones */
  .modal-card-item iframe {
    height: 26%;
  }

  /* move down a little the play button as the mobile devices and vertical */
  .modal-card .fa-play-circle {
    position: absolute;
    top: 0%;
    left: 50%;
    margin-top: 15%;
    margin-left: -50px; /* becasue we need to substract te element/2 width from the margin left */
    font-size: 100px;
    opacity: 0.85;
  }

  .modal-card-item h1 {
    font-size: 1.5rem;
    flex-basis: 95%;
    text-align: left;
  }
}

#err {
  color: red;
}
