:root {
  --front-size: 1.3rem;
}

/* Place the navbar at the bottom of the page, and make it stick */
.bottom-navbar {
  background-color: #25262b;
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.bottom-navbar a {
  float: left; /* Float links side by side */
  text-align: center; /* Center-align text */
  width: 25%; /* Equal width (5 icons with 20% width each = 100%) */
  padding: 12px 0; /* Some top and bottom padding */
  transition: all 0.3s ease; /* Add transition for hover effects */
  color: white; /* White text color */
  font-size: 20px; /* Increased font size */
}

.icon-bar a:hover {
  background-color: #000; /* Add a hover color */
}

.active i {
  color: #228be6; /* Add an active/current color */
  font-size: 30px; /* Increased font size */
}

html {
  box-sizing: border-box; /*lets include the border and padding as well to determine the width*/
  color: white;
}

*,
*::before,
*::after {
  box-sizing: inherit; /* always border-box - easier to calculate */
}

body {
  /*some browsers have padding some margins */
  margin: 0;
  padding: 0;
}

figure {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  position: relative;
}

figcaption {
  background-color: #000;
  position: absolute;
  width: 100%;
  /* opacity: 0.7;*/

  position: absolute;
  bottom: -2%;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  opacity: 0;
}

figure:hover figcaption {
  opacity: 0.7;
  bottom: 0%;
}

.flex-container {
  padding: 5%;
  padding-bottom: 20%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: flex-start;
  align-items: stretch;
  gap: 5%;
}

/*default -  mobile */
.item {
  flex-basis: 47.5%; /* gap 5% 100-5 = 95 / 2 = 47.5 */
  margin-bottom: 1rem;
  box-shadow: 0.2rem 0.1rem 0.5rem 0.1rem #000000;
}

.item-w2 {
  flex-basis: 100%; /* gap 5% 100-5 = 95 / 2 = 47.5 */
}

.item img {
  /* width="140" height="216" */
  max-width: 300px;
  width: 100%;
  height: 100%;
  /*padding-bottom: 1rem;*/
}

/*tablets */
@media (min-width: 530px) {
  .flex-container {
  }
  .item {
    flex-basis: 30%; /* for bigger screen show 3 movie cards */
    /* 100 - 5% * 2 gaps = 90 /3 = 30 */
    margin-bottom: 2rem;
  }
}

/*desktop*/
@media (min-width: 800px) {
  .item {
    flex-basis: 21.25%; /* for desktop screen show 5 movie cards */
    /* 100 - 5% * 3 gaps = 85 / 4 = 21.25 */
    margin-bottom: 3rem;
  }
}

/* --- modal --- */

.modal-view {
  z-index: 1;
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: flex-end;
  flex-direction: column;
}

.modal-card {
  width: 80%;
  height: 80%;
  background-color: #181818;
  color: white;
  border-radius: 6px;
  margin: 5%;
  padding: 2%;
  position: relative;
  box-shadow: 0 -15rem 15rem 1.5rem #181818 inset;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  align-content: flex-end;
}

.modal-card-item {
}

.modal-card-item h1 {
  text-align: center;
}

.modal-card-item p {
  opacity: 0.7;
}

.modal-card .fa-times {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 28px;
  margin: 3%;
}

.modal-card .fa-play-circle {
  position: absolute;
  top: 0;
  left: 50%;
  margin-top: 15%;
  margin-left: -50px; /* becasue we need to substract te element/2 width from the margin left */
  font-size: 100px;
}
.modal-card-item iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 60%;
}

.modal-card-item img {
  width: 100%;
  border-radius: 12px 12px 0 0;
  padding-bottom: 10px;
}
