.content {
  max-width: 960px;
}
.movieCardR {
  text-align: right;
}

.movieCardL {
  text-align: left;
}

@media (min-width: 576) {
  .movieCardL,
  .movieCardR {
    text-align: center;
  }
}

.star {
  text-align: right;
  padding: 0px;
}
