:root {
  --front-size: 1.3rem;
}

/* Place the navbar at the bottom of the page, and make it stick */
.bottom-navbar {
  background-color: #25262b;
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
}

/* do not show on dekstop */
@media (min-width: 800px) {
  .bottom-navbar {
    display: none;
  }
}

.bottom-navbar a {
  float: left; /* Float links side by side */
  text-align: center; /* Center-align text */
  width: 50%; /* Equal width (5 icons with 20% width each = 100%) */
  padding: 12px 0; /* Some top and bottom padding */
  transition: all 0.3s ease; /* Add transition for hover effects */
  color: white; /* White text color */
  font-size: 20px; /* Increased font size */
}

.icon-bar a:hover {
  background-color: #000; /* Add a hover color */
}

.active i {
  color: #228be6; /* Add an active/current color */
  font-size: 30px; /* Increased font size */
}

html {
  box-sizing: border-box; /*lets include the border and padding as well to determine the width*/
  color: white;
}

*,
*::before,
*::after {
  box-sizing: inherit; /* always border-box - easier to calculate */
}

body {
  /*some browsers have padding some margins */
  margin: 0;
  padding: 0;
}

figure {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  position: relative;
}

figcaption {
  background-color: #000;
  position: absolute;
  width: 100%;
  /* opacity: 0.7;*/
  bottom: -2%;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  opacity: 0;
  font-family: "Sora", sans-serif;
}

figure:hover figcaption {
  opacity: 0.9;
  bottom: 0%;
}

.flex-container {
  padding: 5%;
  padding-bottom: 10%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: flex-start;
  align-items: stretch;
  gap: 5%;
}

/*default -  mobile */
.item {
  flex-basis: 47.5%; /* gap 5% 100-5 = 95 / 2 = 47.5 */
  margin-bottom: 1rem;
  box-shadow: 0.2rem 0.1rem 0.5rem 0.1rem #000000;
}

.item-w2 {
  flex-basis: 100%; /* gap 5% 100-5 = 95 / 2 = 47.5 */
}

.item img {
  /* width="140" height="216" */
  /*max-width: 300px; */
  width: 100%;
  height: 100%;
  /*padding-bottom: 1rem;*/
}

/*tablets */
@media (min-width: 530px) {
  .item {
    flex-basis: 30%; /* for bigger screen show 3 movie cards */
    /* 100 - 5% * 2 gaps = 90 /3 = 30 */
    margin-bottom: 2rem;
  }
}

/*desktop*/
@media (min-width: 800px) {
  .item {
    flex-basis: 21.25%; /* for desktop screen show 4 movie cards */
    /* 100 - 5% * 3 gaps = 85 / 4 = 21.25 */
    margin-bottom: 3rem;
  }
}

/*large desktop*/
@media (min-width: 1200px) {
  .item {
    flex-basis: 16%; /* for large desktop screen show 5 movie cards */
    /* 100 - 5% * 4 gaps = 80 / 5 = 16 */
    margin-bottom: 3rem;
  }
}

/* --- home --- */

/* mobile */
.home-titles h1 {
  text-align: left;
  padding-left: 5%;
  padding-top: 5%;
  color: rgb(255, 255, 255);
  font-size: 1.3rem;
  font-family: "Sora", sans-serif;
  text-shadow: 0.4rem 0.4rem 1rem #000000;
}

/* bigger mobile */
@media (min-width: 500px) {
  .home-titles h1 {
    font-size: 3rem;
  }
}

/* desktop */
@media (min-width: 800px) {
  .home-titles h1 {
    font-size: 4rem;
  }
}

/* big desktop */
@media (min-width: 1200px) {
  .home-titles h1 {
    font-size: 5rem;
  }
}

/* -- figcaption --- */
/* the black bar that shows when you hover on moviecard */

.fig-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: flex-start;
  align-items: center;
  gap: 3%;
}

.fig-item {
  padding: 0;
  margin: 0;
  flex-basis: 0%;
}

.fig-item i {
  padding: 0;
  margin: 0;
}

.fig-item p {
  margin: auto;
  font-size: 2rem;
}

.fig-item-100 {
  flex-basis: 100%;
}

.fig-item-100 h2 {
  text-align: center;
  flex-basis: 100%;
}

/* top navbar */
.topnav {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 5%;
  padding: 2rem;
  background-color: #2b2e33;
  font-size: 1.3rem;
  font-family: "Sora", sans-serif;
}

.topnav-link {
  list-style: none;
  color: white;
  text-decoration: none;
}

.active {
  color: #228be6; /* Add an active/current color */
}
/* show only on desktop */
@media (max-width: 800px) {
  .topnav {
    display: none;
  }
}
